/node_modules
/public/css
/public/fonts
/public/images
/public/js
/public/storage
/public/mix-manifest.json
/storage/*
/vendor
.env
.phpunit.result.cache
composer.lock
package-lock.json
npm-debug.log
