.iconpicker .iconpicker-item {
    float: left;
    width: 10px;
    height: 10px;
    padding: 12px;
    margin: 0 12px 12px 0;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    box-shadow: 0 0 0 1px #ddd;
    color: inherit;
}